.hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.235);
    width: 75%;
}

.auth-image {
    position: relative;
}

.auth-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
}

#loading {
    display: none;
}

.form-text {
    display: none;
}

.auth-image>img {
    height: 100%;
    object-fit: cover;
}
.last-msg{
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
}
.last-msg-text{
    position: absolute;
    background: white;
    padding: 1em;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.32);
    transform: scale(0);
    transition: all 200ms ease-in-out;
    transform-origin:  0% 0%;
    z-index:4;
}
.last-msg:hover .last-msg-text{
    transform: scale(1);
}

.message-area {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 2em;
}
.message {
    position: relative;
    margin-bottom: 2.5em;
}
.other {
    text-align: left;
}
.me {
    text-align: right;
}
.message .message-time {
    position: absolute;
    color: rgb(55, 55, 55);
    bottom: -15px;
    padding: 0 5px;
    font-size: 11px;
}
.other .message-time {
    left: 0px;
}
.me .message-time {
    right: 0px;
}
.message .message-text {
    display: inline-block;
    max-width: 70% !important;
    padding: .5em 1em;
    border-radius: 3px;
}

.message .message-text img{
    width: 300px;
}
.other .message-text {
    background-color: rgb(42, 40, 40);
    color: rgb(240, 240, 240);
    border-bottom-left-radius: 0px !important;
}
.me .message-text {
    background: rgb(219, 219, 219);
    color: rgb(9, 9, 9);
    border-bottom-right-radius: 0px !important;
}

.message .message-by{
    position: absolute;
    color: rgb(55, 55, 55);
    top: -22px;
    padding: 0 5px;
    font-size: 15px;
}
.other .message-by{
    left: 0px;
}
.me .message-by{
    right: 0px;
}

#tooltip{
    background: #ffffff;
    border-radius: 5px;
    display: none;
    z-index:6;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.299);
    /* position: absolute; */
    top: 50%;
    left: 50%;
    
}
#tooltip .tooltip-header{
    background-color: #24282c;
    color: white;
    padding: .45em;
    font-weight: normal !important;
}
#tooltip .unames{
    padding: .5em 1em;
    height: 440px;
    overflow: auto;
}
#tooltip .uname{
    color: #2c2c2c;
    padding-left: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.178);
    padding: .5em;
}
#tooltip .not-seen{
    color: #979797;
}

.dot {
    height: 15px;
    width: 15px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.347);
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
    bottom: -5px;
    animation: dotty 1000ms infinite alternate ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 100ms;
}

.dot:nth-child(2) {
    animation-delay: 200ms;
}

.dot:nth-child(3) {
    animation-delay: 300ms;
}

.danger-inp:focus {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.25rem #dc354536 !important;
}

@keyframes dotty {
    0% {
        bottom: 5px;
        background: rgba(0, 0, 0, 0.779);
    }

    40% {}

    80% {
        bottom: -5px;
        background: rgba(0, 0, 0, 0.347);
    }

    100% {
        bottom: -5px;
        background: rgba(0, 0, 0, 0.347);
    }
}

.page-item:not(.disabled) .page-link {
    color: #24282c !important;
}

.page-item a:focus {
    box-shadow: none;
    border: none;
}

.page-item.active .page-link {
    background-color: #24282c !important;
    color: #dbdbdb !important;
    border: none;
}

.fit {
    width: 1px;
    white-space: nowrap;
}

.copy-access-code {
    cursor: pointer;
}

#msg:focus, #file-input:focus {
    box-shadow: none !important;
    border: solid 1px #a8aaac;
}

#send-msg {
    border-bottom-right-radius: 3px !important;
}

#send-msg:focus {
    box-shadow: none;
}

.online-user {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
.online-user-profile{
    height: 2.5em;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px rgb(40, 202, 99); */
    box-shadow: 0px 0px 5px rgb(0, 125, 46);
    border-radius: 50%;
    margin-bottom: .5em;
    font-size: 1.4em;
}

.online-user-list {
    overflow: hidden;
    overflow-y: scroll;
}


*::-webkit-scrollbar {
    background: white;
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(78, 78, 78);
    width: 10px;
}