{{> nav}}
<div class="container p-1 mt-4" style="height: 80vh;">
    <div class="row h-100">
        <div class="col-md-3 h-100 p-0">
            <div class="card h-100 rounded-start">
                <div class="card-header bg-dark text-white">
                    <h3 class="text-center"><i class="fa-regular fa-comments"></i> active</h3>
                </div>
                <div class="card-body online-user-list bg-light">
                    <div class="row">
                        {{!-- <div class="online-user col-md-4">
                            <div class="online-user-profile">
                                A
                            </div>
                            <div class="online-user-name text-center">Gunjan Vyas</div>
                        </div> --}}

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9 h-100 p-0 for-tool-tip-space">
            <div class="card h-100 border overflow-hidden message-area-wrapper">
                <div class="card-header bg-dark text-white">
                    <h3 class="fw-normal">{{room_name}}</h3>
                </div>
                <div class="card-body message-area bg-light">
                    <div class="messages">

                        {{!-- <p class="message other">
                            <span class="message-by">Aditya</span>
                            <span class="message-text">
                                illum hic quidem.
                            </span>
                            <span class="message-time">20:03</span>
                        </p> --}}
                        {{!-- <p class="message p-2 bg-info-subtle text-center rounded-1">
                            User joined
                        </p> --}}
                        {{!-- <p class="message me">
                            <span class="message-by">You</span>
                            <span class="text-start message-text">
                                heyy, doing great
                            </span>
                            <span class="message-time">22:30</span>
                        </p> --}}
                        {{!-- <p class="message me">
                            <span class="message-by">You</span>
                            <span class="text-start message-text">
                                <img class="img-fluid" src="" alt="">
                            </span>
                            <span class="message-time">22:30</span>
                        </p> --}}
                    </div>
                </div>
                <div class="card-footer bg-white border-0 p-0">
                    <input type="file" class="form-control hidden" id="file-input" style="display: none;"
                        accept="image/png, image/gif, image/jpeg, image/jpe">
                    <div class="input-group">
                        <button class="input-group-text btn btn-danger btn-lg rounded-0" id="file-input-btn">
                            <i class="fa-solid fa-image"></i>
                        </button>
                        <input type="text" class="form-control rounded-0" id="msg" rows="1" style="resize: vertical;" />
                        <button class="input-group-text btn btn-danger btn-lg rounded-0" id="send-msg">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="tooltip" role="tooltip" class="col-md-3 p-0">
            <h3 class="tooltip-header">Seen by</h3>
            <div class="unames">
            </div>
        </div>
    </div>



</div>

<script src="https://kit.fontawesome.com/116f2e8725.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
{{> assets/common}}
{{> assets/socket}}